*{
    font-family: 'Spectral', serif;
}
.headermenu{
    position: sticky;
    top: 0;
    color: #C40C0C;
    z-index: 3;
    display: flex;
    background-color: #FF8A08;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headermenu img{
    width: 100px;
    height: 100px;
}
