*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Spectral', serif;
}
body{
    line-height: 1.5;
    min-height: 100vh;
    background-color: #F6F578;
    background-size: cover;
    background-position: center;
}
.card-wrapper{
    max-width: 1100px;
    margin: 20px auto;
    background:#FFCA03;
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    overflow: hidden;
}
.product-imgs .imagePizzaLeft{
    Clip-path: inset(0px 0px 0px 260px);
    position: absolute;
    z-index: 2;
}
.imagePizzaRight{
    Clip-path: inset(0px 240px 0px 0px);
    position: absolute;
    z-index: 1;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #C40C0C;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 88px;
    background: #C40C0C;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #C40C0C;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
#selectSaborP1,
#selectSaborP2{
    background-color: #f1c003;
    color: #C40C0C;
    font-size: 15px;
    padding: 10px 45px;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 10px 10px;
    cursor: pointer;
    transition: .5s ease all;
    border: none;
}
#selectSaborP1:hover,
#selectSaborP2:hover{
    background-color: #C40C0C;
    color: #FFCA03;
    transform: scale(1.02);
}
.product-detail h2{
    text-transform: capitalize;
    padding-bottom: 0.6rem;
    color: #C40C0C;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
    color: black;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
    color: #C40C0C;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: #F6F578 left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input{
    border: 1.5 solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    border-color: transparent;
}
button{
    background-color: #f1c003;
    color: #C40C0C;
    font-size: 15px;
    padding: 10px 45px;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    transition: .5s ease all;
}
button.hidden{
    background-color: transparent;
    border-color: #C40C0C;
}
button:hover{
    background-color: #C40C0C;
    color: #FFCA03;
    transform: scale(1.02);
}
@media screen and (min-width: 992px ) {
    .card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-content{
        padding-top: 0;
    }
}

.purchase-info > input{
    border: none;
    background-color: #f1c003;
}