*{
    font-family: 'Spectral', serif;
}
footer {
    background-color: #FFCA03;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-section li{
    list-style-type: none;
    margin-bottom: 10px;
}
li a{
    text-decoration: none;
    color: black;
}
.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h1,
.footer-section h2 {
    color: #F90716;
}

.social-links a {
    color: #F90716;
    margin-right: 10px;
}

.social-links a:hover {
    color: #F90716;
}